__pycache__/
*.py[cod]
*$py.class
build/
dist/
*.manifest

pip-log.txt
pip-delete-this-directory.txt

# Flask stuff:
instance/
.webassets-cache

# Jupyter Notebook
.ipynb_checkpoints
node_modules/
Tesseract-OCR/