<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/main.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

  <title>CBQuestTracker</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
    integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
    crossorigin="anonymous"></script>
  <script src="https://raw.githack.com/SortableJS/Sortable/master/Sortable.js"></script>
</head>

<body class="bg-dark-100 text-gray-300 h-dvh min-w-[700px]font-bold text-lg">

  <!-- Main Container -->
  <main class="w-[700px] mx-auto h-full flex-col px-4 pt-4">

    <!-- Top Row -->
    <div
      class="grid h-24 {{ 'grid-cols-5' if not_syncing else 'grid-cols-3' }}  mb-5 mx-2 bg-dark-200 rounded-xl shadow-md">

      <!-- Quests Stats -->
      <div class="mr-5 flex {{ 'col-span-3' if not_syncing else 'col-span-2' }} p-3 justify-evenly items-center">
        {% if not_syncing %}

        {% if quests|length + doneQ|length > 0 %}
        <p>Quests Done:</p>
        <p> {{ doneQ|length }} / {{ doneQ|length + quests|length }}</p>
        {% else %}
        <p class="flex items-center">Sync to Track:</p>
        {% endif %}

        {% else %}
        <div class="flex justify-between items-center">
          <div
            class="h-8 w-8 animate-spin rounded-full border-4 border-solid border-current border-e-transparent align-[-0.125em] text-surface motion-reduce:animate-[spin_1.5s_linear_infinite] text-red-600 mr-4"
            role="status">
            <span
              class="!absolute !-m-px !h-px !w-px !overflow-hidden !whitespace-nowrap !border-0 !p-0 ![clip:rect(0,0,0,0)]">
              <span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-red-400 opacity-75"></span>
              <span class="relative inline-flex rounded-full h-3 w-3 bg-red-500"></span>
            </span>
          </div>
          <p id="nbrquests" class="flex items-center mr-4">
            Syncing{% if quests|length > 0 %} - {{ quests|length }}{% endif %}
          </p>
          <p id="nbrdups">
            {% if dups|length > 0 %}
            Found <span class="text-red-400">{{ dups|length }}</span> duplicate{{ 's' if dups|length > 1 else '' }}.
            {% endif %}
          </p>
        </div>
        {% endif %}
      </div>

      <!-- Sync Area -->
      <div class="ml-5 flex p-3 {{ 'col-span-2' if not_syncing else 'col-span-1' }} justify-around items-center">
        {% if not_syncing %}
        {% if screens|length > 1 and 0 <= chosenScreen < screens|length %} <button type="button" id="screenToggle"
          class="bg-dark-300 px-4 py-2 rounded shadow-md flex space-x-2 hover:brightness-90 items-center">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M6 20.25h12m-7.5-3v3m3-3v3m-10.125-3h17.25c.621 0 1.125-.504 1.125-1.125V4.875c0-.621-.504-1.125-1.125-1.125H3.375c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125Z" />
          </svg>
          <p>{{ chosenScreen + 1}}</p>
          </button>
          {% endif %}
          <form action="/sync" method="post">
            <button class="bg-blue-700 hover:bg-blue-800 py-2 px-10 rounded">
              <p>Sync</p>
            </button>
          </form>
          {% else %}
          <form action="/stop" method="post">
            <button class="bg-red-700 hover:bg-red-800 py-2 px-10 rounded">
              <p>Stop</p>
            </button>
          </form>
          {% endif %}
      </div>
    </div>


    <div id="mainscrollable" class="overflow-auto max-h-[calc(100vh-8.25rem)]">
      {% if quests|length + doneQ|length > 0 %}

      <!-- Quest List -->
      <div id="questlist" class="p-2 space-y-4">
        {% for quest in quests %}
        <div data-id="{{ quest }}" quest-index="{{ loop.index0 }}"
          class="bg-dark-200 rounded-xl shadow-md flex items-center">

          {% if not_syncing %}
          <span class="drag text-3xl flex cursor-grab items-center justify-center p-4 select-none ">&#8942;</span>
          {% endif %}

          <p class="p-4 border-l-2 flex-grow border-dark-100 regex-target cursor-text editable-quests">{{
            quest }}
          </p>

          {% if not_syncing %}
          <form action="/done/{{ loop.index0 }}" method="post"
            class="flex items-center justify-center p-4 relative right-0">
            <button class="bg-dark-300 px-4 py-2 rounded-xl  hover:scale-110 shadow-md">
              <p>&check;</p>
            </button>
          </form>
          {% endif %}
        </div>
        {% endfor %}
      </div>

      <!-- Done List -->
      <div class="p-2 space-y-4">
        {% for done in doneQ %}
        <div id="{{ 'topdone' if loop.first else '' }}"
          class="rounded-xl shadow-md flex bg-dark-100 border-2 border-dark-200 items-center">
          <p class="p-4 flex-grow brightness-50 regex-target">{{ done }}</p>
          {% if not_syncing %}
          <form action="/undone" method="post" class="flex items-center justify-center p-4 relative right-0">
            <input name="done" value="{{ done }}" class="hidden" />
            <button class="bg-blue-700 px-4 py-2 rounded-xl  hover:scale-110 shadow-md">
              <p>&check;</p>
            </button>
          </form>
          {% endif %}
        </div>
        {% endfor %}
      </div>
      {% else %}
      {% if not_syncing %}

      <!-- No Quests Instructions -->
      <div class="mx-2 p-8 space-y-4 bg-dark-200 rounded-xl">
        <p>There are no quests, scan to get them:</p>
        <p>1. Press the Sync button.</p>
        <p>2. Scroll through your unit quests in-game.</p>
        <p>3. Make sure nothing is blocking the quests while your scrolling.</p>
      </div>
      {% else %}

      <!-- Syncing Quests List -->
      <div id="questlist" class="flex flex-col p-2 space-y-4 items-center">
        <p></p>
        <img id="last_screen" class="w-full" src="" alt="" />
      </div>
      {% endif %}
      {% endif %}
    </div>
  </main>

  {% if forceScreen and not_syncing %}

  <!-- Choose Screen Modal -->
  <div class="absolute left-0 top-0 w-screen h-screen flex items-center justify-center backdrop-brightness-50">
    <div class="flex flex-col items-center space-y-4 bg-dark-100 p-12 rounded-md shadow-md lg:space-y-12">
      <div>
        <p>Choose the screen your gonna play with:</p>
      </div>
      <div class="lg:grid lg:grid-cols-2 lg:gap-12 max-h-[700px] max-lg:space-y-4 overflow-auto p-4">
        {% for screen in screens %}
        <form action="/screen/{{ loop.index0 }}" method="post">
          <button class="bg-dark-200 rounded-md shadow-md border-2 border-dark-100 hover:border-dark-300 max-w-lg">
            <p class="p-2">Display {{ loop.index0 + 1 }}</p>
            <img class="select-none" src="/imgs/{{ screen.4 }}.png" alt="">
          </button>
        </form>
        {% endfor %}
      </div>
    </div>
  </div>
  {% else %}

  <!-- Duplicates Modal -->
  {% if dups|length > 0 and not_syncing %}
  <div class="absolute left-0 top-0 w-screen h-screen flex items-center justify-center backdrop-brightness-50">
    <div class="flex flex-col items-center bg-dark-100 p-12 rounded-md shadow-md lg:space-y-12">
      <div>
        <h1>Found {{dups|first|length}} duplicates while scanning. <br> Please choose the correct one:</h1>
        <h1 class="text-center text-red-500">{{dups|length}} duplicate type{{ 's' if dups|length > 1 else '' }} left!
        </h1>
      </div>
      <div class="lg:grid lg:grid-cols-2 lg:gap-12 max-h-96 max-lg:space-y-4 overflow-auto p-4">
        {% for candidate in dups|first %}
        <form action="/dups" method="post">
          <input class="hidden" name="dup" value="{{ candidate }}">
          <button class="p-10 bg-dark-200 rounded-md shadow-md border-2 border-dark-100 hover:border-dark-300 max-w-lg">
            <p class="regex-target">{{ candidate }}</p>
          </button>
        </form>
        {% endfor %}
      </div>
    </div>
  </div>
  {% endif %}
  {% endif %}
</body>
<script type="text/javascript" charset="utf-8">

  //Post Request Template
  async function sendPostReq(url, list) {
    return await fetch(url, {
      method: 'POST',
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify(list)
    })
  }


  //Hide screenToggleButton after click event.
  const screenToggleButton = document.getElementById('screenToggle')
  if (screenToggleButton)
    screenToggleButton.addEventListener("click",
      function (event) {
        event.preventDefault()
        sendPostReq("/screen", []).then(res => {
          if (res.status == 200) window.location = "/"
        })
        screenToggleButton.classList.add("hidden")
        screenToggleButton.outerHTML = `
          <div
          class="h-8 w-8 animate-spin rounded-full border-4 border-solid border-current border-e-transparent align-[-0.125em] text-surface motion-reduce:animate-[spin_1.5s_linear_infinite] text-blue-600"
          role="status">
          <span
            class="!absolute !-m-px !h-px !w-px !overflow-hidden !whitespace-nowrap !border-0 !p-0 ![clip:rect(0,0,0,0)]">Loading...</span>
        </div>
        `
      })


  //Keep track of the current quest to edit
  let selectedP = undefined
  let selectedForm = undefined
  //Clear current quest state
  function deselectP() {
    if (selectedP && selectedForm) {
      selectedForm.parentElement.replaceChild(selectedP, selectedForm)
      selectedP = undefined
      selectedForm = undefined
    }
  }
  //Open quest p-tags for editing.
  document.querySelectorAll('.editable-quests').forEach(ptag => {

    //On ptag click
    ptag.ondblclick = (e) => {
      deselectP()

      //Save ptag temporarily.
      selectedP = ptag
      selectedPQuest = ptag.parentElement.getAttribute('data-id')

      //Create form for submition
      const newForm = document.createElement("form")
      newForm.classList.add("flex-grow")
      newForm.classList.add("border-l-2")
      newForm.classList.add("border-dark-100")
      newForm.classList.add("p-4")
      newForm.action = "/edit"
      newForm.method = "POST"
      const index = document.createElement("input")
      index.value = ptag.parentElement.getAttribute('quest-index')
      index.name = "index"
      index.classList.add("hidden")
      newForm.appendChild(index)

      //Create textarea
      const newInput = document.createElement("textarea")
      newInput.classList.add("focus:outline-none")
      newInput.setAttribute("data-gramm", "false")
      newInput.classList.add("border-dark-100")
      newInput.classList.add("align-middle")
      newInput.classList.add("bg-dark-200")
      newInput.classList.add("resize-none")
      newInput.classList.add("border-b-2")
      newInput.classList.add("w-full")
      newInput.value = selectedPQuest
      newInput.name = "edited"

      //Append textarea to form and show form instead of ptag
      newForm.appendChild(newInput)
      selectedForm = newForm
      selectedP.parentElement.replaceChild(selectedForm, selectedP)

      //DIRTY HACK!! Save text into hidden span to get the correct height. 
      temp = document.createElement("span")
      temp.innerText = newInput.value
      selectedForm.appendChild(temp)

      // Extract span highet then hide it again. 
      temp.classList.remove("hidden")
      tempBoundries = temp.getBoundingClientRect()
      temp.classList.add("hidden")
      newInput.style.height = (tempBoundries.height + 10) + "px"

      newInput.focus()
      newInput.oninput = (e) => {
        //Clean out new lines at the end of input string
        newInput.value = newInput.value.replaceAll(/\n/gi, "")
        temp.innerText = newInput.value

        //Update textarea's height with the hack. 
        temp.classList.remove("hidden")
        tempBoundries = temp.getBoundingClientRect()
        temp.classList.add("hidden")
        newInput.style.height = (tempBoundries.height + 10) + "px"

        //Submit form on new line (enter)
        if (e.inputType == "insertLineBreak") {
          newInput.blur()
        }
      }
      newInput.onblur = (e) => {
        //trim sides and submit form if value has changed
        newInput.value = newInput.value.trim()
        if (newInput.value == selectedPQuest) {
          deselectP()
        } else {
          newForm.submit()
        }
      }
    }
  })


  //Retain scroll
  document.addEventListener("DOMContentLoaded", function (event) {
    var scrollpos = localStorage.getItem('scrollpos');
    if (scrollpos) document.querySelector("#mainscrollable").scrollTop = scrollpos;
  });
  document.querySelector("#mainscrollable").onscroll = function (e) {
    localStorage.setItem('scrollpos', e.target.scrollTop);
  };


  //Change color of Numbers
  [...document.querySelectorAll(".regex-target")].forEach(ptag => {
    ptag.innerHTML = ptag.innerHTML.replaceAll(/(\d+)/gi, "<span class='text-yellow-500'>$1</span>").replaceAll(/\bor\b(?!\s+(your|You|higher|Bandit|Field|Siege|rating|better|A)\b)/gi, "<span class='text-blue-500'> or </span>")
  })


  //Save the Window's last position
  window.onbeforeunload = function () {
    sendPostReq("/window", [window.screenX, window.screenY, window.outerWidth, window.outerHeight])
  }


  // Sortable List 
  if (document.querySelector("#questlist") != null) {
    function style_grab(e) {
      e.target.classList.remove('cursor-grabbing');
      if (!e.item || !e.item.children) return
      e.item.children[0].classList.remove('cursor-grabbing');
      e.item.children[0].classList.add('cursor-grab');
    }
    function style_grabbing(e) {
      e.target.classList.add('cursor-grabbing');
      if (!e.item || !e.item.children) return
      e.item.children[0].classList.add('cursor-grabbing');
      e.item.children[0].classList.remove('cursor-grab');
    }
    let sortable = Sortable.create(questlist, {
      selectedClass: "selectedQuest",
      forceAutoScrollFallback: true,
      ghostClass: "ghostQuest",
      scrollSensitivity: 100,
      fallbackTolerance: 30,
      forceFallback: true,
      multiDrag: true,
      handle: '.drag',
      scrollSpeed: 15,
      animation: 150,
      scroll: true,
      onEnd: (e) => {
        for (let i in e.items) {
          Sortable.utils.deselect(e.items[i]);
        }
        style_grab(e)
      },
      setData: (dataTransfer, _) => dataTransfer.setDragImage(document.createElement("img"), 0, 0),
      onSort: () => sendPostReq("/update", sortable.toArray()).then(res => {
        if (res.status == 200) window.location = "/"
      }),
      onChoose: style_grabbing,
      onStart: style_grabbing,
      onUnchoose: style_grab,
      onMove: style_grabbing
    })
  }


  //Display toast if if url params
  const urlParams = new URLSearchParams(window.location.search);
  const displayToast = urlParams.get('toast')
  if (displayToast != null) {
    const
      FADE_DUR = 700,
      DUR = 3000,
      toastContain = document.createElement('div');
    str = "Synchronization Stopped Automatically!"

    toastContain.classList.add('toastContain');
    document.body.appendChild(toastContain);

    const EL = document.createElement('div');
    EL.classList.add("toast")
    EL.innerHTML = str;
    toastContain.prepend(EL);

    setTimeout(() => EL.classList.add('open'));
    setTimeout(
      () => EL.classList.remove('open'),
      DUR
    );
    setTimeout(
      () => toastContain.removeChild(EL),
      DUR + FADE_DUR
    );
  }
  if (window.location.pathname == "/")
    window.history.pushState({}, document.title, "/");


  //Socket connection for live updates from the Syncing Thread
  let socket = io();
  socket.on('connect', function () {

    //Quest list updated
    socket.on('new_quest', function ({ dq, pd }) {
      let questlist = document.querySelector("#questlist")
      questlist.classList.remove("items-center")
      questlist.innerHTML = dq.map(quest =>
        `<div data-id="${quest}" class="bg-dark-200  rounded-xl shadow-md flex items-center">
          <p class="p-4 regex-target">${quest.replaceAll(/(\d+)/gi, "<span class='text-yellow-500'>$1</span>")}</p>
        </div>`
      ).join("")

      document.querySelector("#nbrquests").innerHTML = `Syncing - ${dq.length}`

      if (pd.length > 0)
        document.querySelector("#nbrdups").innerHTML = `Found <span class="text-red-400">${pd.length}</span> duplicate${pd.length > 1 ? 's' : ''}.`
    })

    //New last image
    socket.on('new_last', function (url) {
      const last_screen = document.getElementById("last_screen")
      if (last_screen) {
        fetch(url).then(res => res.blob()).then(blob => {
          last_screen.src = URL.createObjectURL(blob)
          last_screen.parentElement.children[0].innerText = "Haven't found anything in a while, this is what the app sees:"
          last_screen.parentElement.prepend(msg)
        })
      }
    })

    //Sync Thread Stopped after a duration of not finding quests:
    socket.on("stopped_sync", () => {
      window.location = "/?toast"
    })
  });
</script>

</html>