@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --selectedBorder: theme(colors.blue.700);
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #292929;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3d3d3d;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #535353;
}
body{
    font-family: Tahoma, sans-serif;
    font-weight: 600;
}
.scrollgutter {
  scrollbar-gutter: stable;
}

.selectedQuest {
  border-left: 5px solid var(--selectedBorder);
  z-index: 1 !important;
}

p{
  user-select: none;
}
.toastContain {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 50px;
}
@layer components {
  .toast {
    @apply rounded-md bg-dark-300 shadow-md text-center px-10 py-4 select-none brightness-75 flex
  }
}

.toast {
  transform: scale(0.95) translateY(50px);
  transition:
    margin-top 0.7s,
    transform 0.7s,
    opacity 0.7s;
}
.toast.open {
  margin-top: 10px;
  transform: scale(1) translateY(0);
  opacity: 1;
}
